.App{
  width: 100vw;
  height: 100vh;
}
.product-list{
  margin: 80px auto 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.filepond--wrapper{
  width: 100%;
}
.br_8{
  border-radius: 8px;
}
.d_flex{
  display: flex;
}
.m_auto{
  margin: auto;
}
.bs_small{
  box-shadow: 0 0 10px 4px #00000030;
}
.p_rel{
  position: relative;
}
.p_abs{
  position: absolute;
}
.w_100{
  width: 100%;
}
.fs_24{
  font-size: 24px;
}
.flex_1{
  flex: 1;
}
.fd_col{
  flex-direction: column;
}
.body_h{
  height: calc(100% - 70px);
}
.padd_20{
  padding: 20px;
}
.alert-display h1{
  font-size: 50px;
  color: #77777777;
}