.product{
    margin: 10px;
    width: 600px;
    height: 350px;
    transition: transform 200ms;
}

.product-description{
    height: 350px;
    background-color: #d2691e4d;
    padding: 20px;
    padding-top: 30px;
    justify-content: space-between;
}

.desc-data{
    text-indent: 20px;
    transition: opacity 200ms;
}
.product:hover{
    transform: scale(1.05);
}
.product:hover .desc-data{
    opacity: 1;
}
.purchase-btn{
    background-color: #358d35f3;
    color: #fffaf0;
    padding: 5px 0;
    margin: 3px 0;
}
.remove-btn{
    background-color: #ca1a1aaf;
    color: #fffaf0;
    margin: 3px 0;
    padding: 5px 0;
}
.button-container{
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.btn-container{
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 260px;
}
.view-full{
    position: fixed;
    top: 60px;
    left: 0;
    background-color: #00000050;
    z-index: 1000;
}
.img-container{
    width: 300px;
    float: left;
    margin-right: 10px;
    height: 350px;
    z-index: 10;
}
.product-img{
    height: 350px;
}