.header-container{
    padding: 10px;
    height: 64px;
    width: 100%;
    align-items: center;
    box-shadow: 0 1px 10px #00000066;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
}
.header-title{
    font-size: 28px;
}
.user-container{
    align-items: center;
}
.user{
    margin: 0 10px;
    align-items: flex-end;
}
.user a{
    font-size: 12px;
    color: #00000090;
}
.back-arrow{
    width: 30px;
    height: 30px;
    position: relative;
    color: #333;
}
.back-arrow::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-left: 2px solid currentColor;
    border-top: 2px solid currentColor;
    transform: rotateZ(-45deg);
    top: 8px;
}
.back-arrow::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: currentColor;
    top: 15px;
}